In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df_train=pd.read_csv('train.csv',index_col='PassengerId')
print(df_train.shape)
df_train.head()

(8693, 13)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
PassengerId,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
df_test=pd.read_csv('test.csv',index_col='PassengerId')
print(df_test.shape)
df_test.head()

(4277, 12)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
PassengerId,,,,,,,,,,,,
0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [5]:
X_Test = df_test.copy()
X_Test.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
PassengerId,,,,,,,,,,,,
0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [6]:
y_test=pd.read_csv('sample_submission.csv',index_col='PassengerId')
y_test.head()

             Transported
PassengerId
0013_01            False
0018_01            False
0019_01            False
0021_01            False
0023_01            False

In [7]:
features_to_drop = ['Name']
df_train.drop(features_to_drop, axis=1, inplace=True)
X_Test.drop(features_to_drop, axis=1, inplace=True)

In [8]:
X_Train = df_train.copy()
y_train = X_Train.pop('Transported')
y_train.replace([False, True], [0, 1], inplace=True)

In [9]:
X_Train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0

In [10]:
y_train.head().to_frame()

             Transported
PassengerId
0001_01                0
0002_01                1
0003_01                0
0003_02                0
0004_01                1

In [11]:
X_Train.dtypes.to_frame()

                    0
HomePlanet     object
CryoSleep      object
Cabin          object
Destination    object
Age           float64
VIP            object
RoomService   float64
FoodCourt     float64
ShoppingMall  float64
Spa           float64
VRDeck        float64

In [12]:
X_Train['CryoSleep'].replace([False, True], [0, 1], inplace=True)
X_Train['CryoSleep'].fillna(0, inplace=True)
X_Train['CryoSleep'] = X_Train['CryoSleep'].astype(int)

X_Test['CryoSleep'].replace([False, True], [0, 1], inplace=True)
X_Test['CryoSleep'].fillna(0, inplace=True)
X_Test['CryoSleep'] = X_Test['CryoSleep'].astype(int)

In [13]:
X_Train.drop('Cabin',axis=1,inplace=True)
X_Test.drop('Cabin',axis=1,inplace=True)

In [14]:
X_Train.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,
0001_01,Europa,0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
0002_01,Earth,0,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
0003_01,Europa,0,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
0003_02,Europa,0,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
0004_01,Earth,0,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0

In [15]:
X_Train['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [16]:
X_Train['Destination'].value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [17]:
X_Test.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,
0013_01,Earth,1,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
0018_01,Earth,0,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
0019_01,Europa,1,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
0021_01,Europa,0,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
0023_01,Earth,0,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0

In [18]:
X_Train.isnull().sum()

HomePlanet      201
CryoSleep         0
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
dtype: int64

In [19]:
X_Train.dtypes

HomePlanet       object
CryoSleep         int32
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
dtype: object

In [20]:
X_Test.dtypes

HomePlanet       object
CryoSleep         int32
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
dtype: object

In [21]:
# Filling Missing Values with zeros on train dataset
X_Train['RoomService'].fillna(0, inplace=True)
X_Train['FoodCourt'].fillna(0, inplace=True)
X_Train['ShoppingMall'].fillna(0, inplace=True)
X_Train['Spa'].fillna(0, inplace=True)
X_Train['VRDeck'].fillna(0, inplace=True)

# Filling Missing Values with zeros on validation dataset
X_Test['RoomService'].fillna(0, inplace=True)
X_Test['FoodCourt'].fillna(0, inplace=True)
X_Test['ShoppingMall'].fillna(0, inplace=True)
X_Test['Spa'].fillna(0, inplace=True)
X_Test['VRDeck'].fillna(0, inplace=True)

In [22]:
X_Train['VIP'].replace([False, True], [0, 1], inplace=True)
X_Train['VIP'].fillna(0, inplace=True)
X_Train['VIP'] = X_Train['VIP'].astype(int)

X_Test['VIP'].replace([False, True], [0, 1], inplace=True)
X_Test['VIP'].fillna(0, inplace=True)
X_Test['VIP'] = X_Test['VIP'].astype(int)

In [23]:
X_Train['Age'].fillna(X_Train['Age'].mean(), inplace=True)
X_Train['Age'] = X_Train['Age'].astype(int)

#X_test['HomePlanet'].fillna(X_test['HomePlanet'].value_counts().idxmax(), inplace=True)
#X_test['Destination'].fillna(X_test['Destination'].value_counts().idxmax(), inplace=True)
X_Test['Age'].fillna(X_Test['Age'].mean(), inplace=True)
X_Test['Age'] = X_Test['Age'].astype(int)

In [24]:
X_Train.isnull().sum()

HomePlanet      201
CryoSleep         0
Destination     182
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
dtype: int64

In [25]:
X_Test.isnull().sum()

HomePlanet      87
CryoSleep        0
Destination     92
Age              0
VIP              0
RoomService      0
FoodCourt        0
ShoppingMall     0
Spa              0
VRDeck           0
dtype: int64

In [26]:
X_Train.dtypes

HomePlanet       object
CryoSleep         int32
Destination      object
Age               int32
VIP               int32
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
dtype: object

In [27]:
X_Test.dtypes

HomePlanet       object
CryoSleep         int32
Destination      object
Age               int32
VIP               int32
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
dtype: object

In [28]:
X_Train.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,
0001_01,Europa,0,TRAPPIST-1e,39,0,0.0,0.0,0.0,0.0,0.0
0002_01,Earth,0,TRAPPIST-1e,24,0,109.0,9.0,25.0,549.0,44.0
0003_01,Europa,0,TRAPPIST-1e,58,1,43.0,3576.0,0.0,6715.0,49.0
0003_02,Europa,0,TRAPPIST-1e,33,0,0.0,1283.0,371.0,3329.0,193.0
0004_01,Earth,0,TRAPPIST-1e,16,0,303.0,70.0,151.0,565.0,2.0

In [29]:
X_Test.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,
0013_01,Earth,1,TRAPPIST-1e,27,0,0.0,0.0,0.0,0.0,0.0
0018_01,Earth,0,TRAPPIST-1e,19,0,0.0,9.0,0.0,2823.0,0.0
0019_01,Europa,1,55 Cancri e,31,0,0.0,0.0,0.0,0.0,0.0
0021_01,Europa,0,TRAPPIST-1e,38,0,0.0,6652.0,0.0,181.0,585.0
0023_01,Earth,0,TRAPPIST-1e,20,0,10.0,0.0,635.0,0.0,0.0

In [30]:
X_Train['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [31]:
X_train = pd.get_dummies(X_Train, columns=['HomePlanet','Destination'])
X_train.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
PassengerId,,,,,,,,,,,,,,
0001_01,0,39,0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,1
0002_01,0,24,0,109.0,9.0,25.0,549.0,44.0,1,0,0,0,0,1
0003_01,0,58,1,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,0,1
0003_02,0,33,0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,0,0,1
0004_01,0,16,0,303.0,70.0,151.0,565.0,2.0,1,0,0,0,0,1

In [32]:
X_test = pd.get_dummies(X_Test, columns=['HomePlanet','Destination'])
X_test.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
PassengerId,,,,,,,,,,,,,,
0013_01,1,27,0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1
0018_01,0,19,0,0.0,9.0,0.0,2823.0,0.0,1,0,0,0,0,1
0019_01,1,31,0,0.0,0.0,0.0,0.0,0.0,0,1,0,1,0,0
0021_01,0,38,0,0.0,6652.0,0.0,181.0,585.0,0,1,0,0,0,1
0023_01,0,20,0,10.0,0.0,635.0,0.0,0.0,1,0,0,0,0,1

In [33]:
X_train.dtypes

CryoSleep                      int32
Age                            int32
VIP                            int32
RoomService                  float64
FoodCourt                    float64
ShoppingMall                 float64
Spa                          float64
VRDeck                       float64
HomePlanet_Earth               uint8
HomePlanet_Europa              uint8
HomePlanet_Mars                uint8
Destination_55 Cancri e        uint8
Destination_PSO J318.5-22      uint8
Destination_TRAPPIST-1e        uint8
dtype: object

In [34]:
X_test.dtypes

CryoSleep                      int32
Age                            int32
VIP                            int32
RoomService                  float64
FoodCourt                    float64
ShoppingMall                 float64
Spa                          float64
VRDeck                       float64
HomePlanet_Earth               uint8
HomePlanet_Europa              uint8
HomePlanet_Mars                uint8
Destination_55 Cancri e        uint8
Destination_PSO J318.5-22      uint8
Destination_TRAPPIST-1e        uint8
dtype: object

In [35]:
X_train['HomePlanet_Earth'] = X_train['HomePlanet_Earth'].astype(int)
X_train['HomePlanet_Europa'] = X_train['HomePlanet_Europa'].astype(int)
X_train['HomePlanet_Mars'] = X_train['HomePlanet_Mars'].astype(int)
X_train['Destination_55 Cancri e'] = X_train['Destination_55 Cancri e'].astype(int)
X_train['Destination_PSO J318.5-22'] = X_train['Destination_PSO J318.5-22'].astype(int)
X_train['Destination_TRAPPIST-1e'] = X_train['Destination_TRAPPIST-1e'].astype(int)

X_test['HomePlanet_Earth'] = X_test['HomePlanet_Earth'].astype(int)
X_test['HomePlanet_Europa'] = X_test['HomePlanet_Europa'].astype(int)
X_test['HomePlanet_Mars'] = X_test['HomePlanet_Mars'].astype(int)
X_test['Destination_55 Cancri e'] = X_test['Destination_55 Cancri e'].astype(int)
X_test['Destination_PSO J318.5-22'] = X_test['Destination_PSO J318.5-22'].astype(int)
X_test['Destination_TRAPPIST-1e'] = X_test['Destination_TRAPPIST-1e'].astype(int)

In [36]:
X_train['Transported']=y_train
X_test['Transported']=y_test

In [37]:
df_combined = pd.concat([X_train, X_test])
df_combined.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Transported
PassengerId,,,,,,,,,,,,,,,
0001_01,0,39,0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,1,0
0002_01,0,24,0,109.0,9.0,25.0,549.0,44.0,1,0,0,0,0,1,1
0003_01,0,58,1,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,0,1,0
0003_02,0,33,0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,0,0,1,0
0004_01,0,16,0,303.0,70.0,151.0,565.0,2.0,1,0,0,0,0,1,1

In [38]:
X=df_combined.copy()
y=X.pop('Transported')
X.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
PassengerId,,,,,,,,,,,,,,
0001_01,0,39,0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,1
0002_01,0,24,0,109.0,9.0,25.0,549.0,44.0,1,0,0,0,0,1
0003_01,0,58,1,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,0,1
0003_02,0,33,0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,0,0,1
0004_01,0,16,0,303.0,70.0,151.0,565.0,2.0,1,0,0,0,0,1

In [39]:
X.columns

Index(['CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall',
       'Spa', 'VRDeck', 'HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e'],
      dtype='object')

In [40]:
print(X.shape,y.shape)

(12970, 14) (12970,)

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
import pandas as pd

X, y = make_classification(n_samples=100, n_features=5, n_informative=3,
                            n_redundant=0, n_clusters_per_class=1, random_state=42)

# Create a Random Forest Classifier with 100 trees
rfc = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the classifier to the data
rfc.fit(X,y)

# Get the feature importances
feature_importances = rfc.feature_importances_

# Create a dataframe with feature importances and column names
df_importances = pd.DataFrame({'Feature': list(range(1, X.shape[1]+1)), 
                               'Column Name': ['Col1', 'Col2', 'Col3', 'Col4', 'Col5'], 
                               'Importance': feature_importances})

# Sort the dataframe by feature importance
df_importances = df_importances.sort_values('Importance', ascending=False)

# Print the dataframe
print(df_importances)

   Feature Column Name  Importance
2        3        Col3    0.537578
3        4        Col4    0.238429
4        5        Col5    0.083851
0        1        Col1    0.072237
1        2        Col2    0.067906

In [42]:
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split
X_train_full, X_test_full, y_train_full, y_test_full = train_test_split(X,y,train_size=0.75, test_size=0.25)

tpot= TPOTClassifier(generations=5, population_size=20, cv=5,
                                    random_state=42, verbosity=2)
tpot.fit(X_train_full, y_train_full)
print(tpot.score(X_test_full, y_test_full))

Optimization Progress:   0%|          | 0/120 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 0.8933333333333333

Generation 2 - Current best internal CV score: 0.9066666666666666

Generation 3 - Current best internal CV score: 0.9066666666666666

Generation 4 - Current best internal CV score: 0.9199999999999999

Generation 5 - Current best internal CV score: 0.9199999999999999

Best pipeline: SGDClassifier(Nystroem(input_matrix, gamma=0.9500000000000001, kernel=cosine, n_components=4), alpha=0.001, eta0=0.1, fit_intercept=False, l1_ratio=1.0, learning_rate=invscaling, loss=perceptron, penalty=elasticnet, power_t=0.5)
0.96

In [102]:
import pandas as pd
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import LinearSVC
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


#model= BernoulliNB(alpha=0.01,fit_prior=False)#LinearSVC(C=0.5,dual=True, loss='hinge', penalty='l2', tol=1e-05), alpha=0.01,fit_prior=False)

model = SGDClassifier(alpha=0.001, eta0=0.1, fit_intercept=False, l1_ratio=1.0, learning_rate='invscaling', loss='perceptron', penalty='elasticnet', power_t=0.5)

#model = SGDClassifier(loss='log', alpha=0.001, learning_rate='constant', eta0=0.01, max_iter=1000)

#model = ExtraTreesClassifier()

#model = GradientBoostingClassifier()


# fit the model to the training data
model.fit(X_train_full, y_train_full)

# make predictions on the test data
y_pred = model.predict(X_test_full)

# calculate the accuracy of the model
accuracy = accuracy_score(y_test_full, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
#print(accuracy)

Accuracy: 96.00%